<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello koa</title>
</head>
<body>
    <h1>I am Koa</h1>
    <button>点我试试</button>
</body>
</html>
